**/*.pyc
__pycache__/
.ipynb_checkpoints/
aerobot/assets/data/madin/madin.h5
aerobot/assets/*.h5
aerobot/assets/train/*.tar.gz
**/.DS_Store
aerobot/assets/validation/genomes/
results/earth_microbiome/emb*